nav{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

nav a{
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 30px;
    padding: 15px;
    text-decoration: none;
}

a:active{
    color: rgb(0, 204, 255);
}

main{
    margin: 1%;
    background-color: rgb(146, 146, 146);
    text-align: center;
    color: white;
}

main a{
    color: white;
    text-align: center;
}

section{
    background-color: rgb(112, 112, 112);
}

article{
    margin: 1%;
    background-color: rgb(146, 146, 146);
    text-align: center;
    color: white;
}

ul{
    list-style-position: inside;
    padding-left: 0;
}

nav p{
    color: white;
}

.bookReview{
    background-color: rgb(112, 112, 112);
}